pipeline/2a_pl_mysql_landing_to_bronze.json
{
	"name": "2a_pl_mysql_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "bronze layer ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/mysql_bronze_ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"bronze_schema": {
							"value": "@pipeline().parameters.metadata_values.bronze_schema",
							"type": "Expression"
						},
						"bronze_table": {
							"value": "@pipeline().parameters.metadata_values.bronze_tbl",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"source_file_name": {
							"value": "@pipeline().parameters.metadata_values.source_file_or_table_name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.metadata_values.storage_account",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "compare records count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "bronze layer ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('bronze layer ingestion').output.roundOutput[0], activity('bronze layer ingestion').output.roundOutput[2])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "bronze layer ingestion failure log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze layer ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('failed to copy ',item().source_file_or_table_name,' table to adls landing container.')",
							"type": "Expression"
						},
						"status": {
							"value": "@concat('Error: ',activity('Copy table records').Error.message)",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'Asia/Kuala_Lumpur'),'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_values": {
				"type": "object"
			}
		},
		"annotations": []
	}
}