pipeline/4_pl_silver_to_gold.json
{
	"name": "4_pl_silver_to_gold",
	"properties": {
		"activities": [
			{
				"name": "gold layer ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/silver to gold ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"silver_schema": {
							"value": "@pipeline().parameters.metadata_values.silver_schema",
							"type": "Expression"
						},
						"silver_table": {
							"value": "@pipeline().parameters.metadata_values.silver_tbl",
							"type": "Expression"
						},
						"gold_schema": {
							"value": "@pipeline().parameters.metadata_values.gold_schema",
							"type": "Expression"
						},
						"gold_table": {
							"value": "@pipeline().parameters.metadata_values.gold_tbl",
							"type": "Expression"
						},
						"source": {
							"value": "@pipeline().parameters.metadata_values.source_ref_id",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver layer ingestion failure log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold layer ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Failed to load records from ',pipeline().parameters.metadata_values.bronze_tbl, ' to silver layer table ', pipeline().parameters.metadata_values.silver_tbl)",
							"type": "Expression"
						},
						"status": {
							"value": "@concat('Error: ', activity('silver layer ingestion').Error.message)",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'Asia/Kuala_Lumpur'),'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver layer ingestion success log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold layer ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat(' inserted ',activity('silver layer ingestion').output.runOutput[1], ' records (',activity('silver layer ingestion').output.runOutput[0],' duplicate records removed) in silver layer table ',pipeline().parameters.metadata_values.silver_tbl)",
							"type": "Expression"
						},
						"status": {
							"value": "success",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'Asia/Kuala_Lumpur'),'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_values": {
				"type": "object"
			}
		},
		"annotations": []
	}
}